<div class="limiter">
    <div class="container-login">
      <mat-card>
        <div *ngIf="isResultsLoading" class="mat-elevation-z8">
          <div class="loading-shade">
            <mat-spinner color="primary"></mat-spinner>
          </div>
        </div>
        <mat-card-title>Reset Password</mat-card-title>
        <mat-card-content>
          <form class="form-container" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
            <mat-form-field color="primary">
              <input matInput placeholder="New Password" formControlName="password" type="password">
              <mat-error *ngIf="form.controls['password'].invalid && form.controls['password'].touched"> password is required</mat-error>
            </mat-form-field>
            <mat-form-field color="primary">
              <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password">
              <mat-error *ngIf="form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].touched"> confirm password is required</mat-error>
            </mat-form-field>
            <button mat-raised-button class="btn-block" color="primary">Submit</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>