<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    class="app-sidenav mat-elevation-z10"
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'"
    #sidenav
  >
    <mat-toolbar color="primary">Dashboard</mat-toolbar>
 <mat-nav-list>
   <a mat-list-item [routerLink]="[link.url]" *ngFor="let link of links">{{ link.name }}</a>
 </mat-nav-list>
  </mat-sidenav>
  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
