.mat-card {
    position: absolute;
    width: 300px;
    height: 500px;
    z-index: 10;
    top: 30%;
    left: 50%;
    margin: -100px 0 0 -150px;
  }
  table {
    border-spacing: 25px;
  }
  td:nth-of-type(2) {
    padding-right: 20px;
  }
  .column-title {
    font-weight: bold;
  }