
<mat-toolbar>
    <h2>Clients</h2>
    <div class="menu-bar">
        <button mat-button (click)="openDialog('')">New Client</button>
      </div>
</mat-toolbar>

<div class="table-container mat-elevation-z8">
    <div class="mat-elevation-z8">
        <div class="loading-shade" *ngIf="resultLoadding" >
          <mat-spinner *ngIf="resultLoadding"></mat-spinner>
        </div>
      </div>
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>FirstName</th>
      <td mat-cell *matCellDef="let client">{{ client.firstName }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>LastName</th>
      <td mat-cell *matCellDef="let client">{{ client.lastName }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let client">{{ client.email }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let client">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog(client._id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteBtnHandler(client._id)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
